.img-container {
    width: 92%;
    margin: 0 auto;
}
.img-container img {
    width: 100%;
    
    height: 500px;
}

@media only screen and (max-width: 600px) {
    .img-container img {
        height: 300px;
    }
}